body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.1em;
    font-weight: 300;
    font-size: 1em;
    color:#282828 !important;
    background-color: #fff;
}

a:link:after {
    content: " (" attr(href) ") ";
}

.no-print {
   display: none !important;
}

.print {
    display: inherit !important;
}


nav, footer {
   display: none !important;
}

.btn, .scroll-up {
   display:none !important;
}

#home {
    background: #FFFFFF;
    background-size: unset;
    padding: 0;
    height: 5em;
}

.intro h1 {
    font-size: 2em;
    line-height: 2em;
}

.short-info {
    margin-bottom: 0.25em;
}

.section-title {
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 0.25em;
}

.section-title::after {
    background: none no-repeat 0 0;
}

.section-padding {
    padding: 0.5em 0 0.5em;
}